<div class="uk-dark uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="animation: slide; center: true;" data-uk-observe>
    <div class="uk-slider-items uk-grid uk-grid-small items uk-child-width-1-1"></div>
    <a class="uk-position-center-right uk-hidden-hover slidenav previous" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-left uk-hidden-hover slidenav next" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>