<div class="uk-card uk-card-default article-card article-card-most-popular uk-box-shadow-hover-medium">
    <a href="{{href}}" class="uk-card-body uk-position-relative uk-padding-xsmall uk-display-block">
        <h3 class="title uk-margin-xsmall">{{{title}}}</h3>
        <p class="description uk-margin-remove uk-text-muted">{{{description}}}</p>
        <span class="created uk-display-block uk-text-left uk-text-small uk-text-meta">{{createdAgo}}</span>
    </a><!-- relative -->
</div>