<div class="uk-card uk-card article-card article-card-category-most-popular uk-box-shadow-hover-medium">
    <a href="{{href}}" class="uk-card-body uk-position-relative uk-padding-small uk-display-block">
        <h3 class="title uk-margin-xsmall">{{{title}}}</h3>
        <p class="description uk-margin-remove uk-text-muted">{{{description}}}</p>
        <span class="created uk-display-block uk-text-right uk-text-small uk-text-body">{{author.name}}</span>
    </a><!-- relative -->
</div>