<div
    class="uk-card uk-card-default article-card article-card-episode uk-border-rounded uk-box-shadow-small rv-hover-effect-3d ">
    <div class="uk-card-media uk-position-relative">
        <div class="uk-inline uk-width-1-1">
            <div class="uk-display-block" title="{{title}}">
                <span class="rv-responsive uk-border-rounded">
                    <span class="uk-background-cover rv-responsive-item"
                        style="background-image: url({{image.url}});"></span>
                </span>
                <div class="uk-position-center hover-indicator"></div>
                <div class="uk-overlay uk-light uk-position-top-right uk-padding-small">{{createdDate}}</div>
                <div class="uk-position-center uk-light ">
                    <span uk-icon="icon: play; ratio:2;"></span>
                </div>
            </div>

            <div class="uk-overlay uk-light uk-position-bottom uk-padding-small content-bg-bottom">
                <h3 class="title uk-margin-remove">{{{title}}}</h3>
            </div>
        </div>
    </div><!-- relative -->
</div>