<div class="article-card article-card-slider uk-width-1-1">
    <a href="{{href}}" class="uk-display-block uk-height-large uk-background-cover image" data-src="{{image.url}}" uk-img
        title="{{title}}"></a>
    {{!-- <div class="uk-container uk-container-expand"> --}}
    {{!-- </div> --}}

</div>