<div class="category-header mobile">
    <div class="uk-container">
        <ul class="uk-nav">
            <li class="uk-inline uk-padding-small uk-padding-remove-vertical uk-padding-remove-right">
                <span class="name">{{{name}}}</span>
            </li>
            <li class="uk-inline uk-padding-small uk-padding-remove-vertical">
                <span class="last-update">{{lastUpdateDate}}</span>
            </li>
        </ul>
    </div>
</div>