<div class="uk-light uk-child-width-1-2" uk-grid>
    <div>
        <a href="/" class="uk-inline home-link uk-flex uk-flex-middle">
            <img data-src="{{app.logoTransparent}}" width="173" height="49" alt="{{app.name}}" uk-img>
        </a>
    </div>
    <div class="uk-text-left">
        <a href="/live" class="uk-inline live-link">
            <span uk-icon="icon: tv-4; ratio: 1.5" class="uk-margin-small-left uk-inline"></span>
            <span class="uk-inline">البث الحي</span>
        </a>
    </div>
</div>
