$color-muted: #f8f8f8;
$color-yellow: #FDC330;
$color-red-header: #ff1515;
$color-dark-1: #14101E;
$color-bg-videos: #1c1c1c;
$color-text-videos: #fff;
$color-bg-other-news: #ff1111;
$color-text-other-news: #fff;
$color-bg-footer: #322950;
$color-text-footer: #fff;
$color-bg-playlist: #1d1733;
$color-text-playlist: #fff;
$color-bg-playlist-selector: #f4161a;
$color-bg-playlist-selector-active: #ac1315;
$color-slider-bg-light: #2c2541;
$color-slider-bg-dark: #181424;
$color-bg-sidemenu: #e8171c;
$color-bg-sidemenu-active: #2b2341;
//
$color-serie-play-btn-bg-start: #D50F16;
$color-serie-play-btn-bg-end: #FF3700;
//
$color-serie-allEpisodesBtn-bg-end: #e7290c;
$color-serie-allEpisodesBtn-bg-start: #d40f16;
$color-serie-allEpisodesBtn-bg-dark: #990005;
//
$color-serie-otherProgramsTitle-bg-start: #d40f16;
$color-serie-otherProgramsTitle-bg-end: #e63c0d;
$color-serie-otherProgramsTitle-bg-dark: #990005;
// MOBILE
$color-mobile-bg-accent: #F4F5FF;
$color-mobile-green: #18EA89;
$color-mobile-sliderBg-red: #FB2947;
$color-mobile-sliderBg-light:#593C96;
$color-mobile-sliderBg-dark: #241245;
$color-mobile-header: #5B4EA0;