<div class="uk-position-relative uk-light slideshow-timeline-mobile" tabindex="-1" uk-slider="" data-uk-observe>
    <div class="uk-slider-container">

        <div class="uk-slider-items items  uk-child-width-1-1">

        </div>
    </div>

    <div class="uk-text-left uk-position-bottom-left slidenav-wrapper">
        <a class="slidenav previous" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="slidenav next" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
</div>