<div uk-slider="clsActivated: uk-transition-active;center: true;" data-uk-observe>
    <div class="uk-position-relative">
        <div class="uk-slider-container">
            <div class="uk-slider-items items uk-child-width-1-1">

            </div>
        </div>
        <div class="uk-text-left slider-controls-wrapper">
            <div class="uk-inline">
                <ul class="uk-slider-nav uk-dotnav"></ul>
            </div>
            <a class="slidenav previous" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="slidenav next" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>

</div>