<div class="uk-position-relative uk-light" tabindex="-1" uk-slider="animation: slide;center: true;" data-uk-observe>
    <div class="uk-slider-items uk-grid items uk-child-width-1-2">

    </div>

    <div class="uk-text-left uk-container uk-margin">
        <a class="slidenav previous" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="slidenav next" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
</div>