<div class="uk-light" tabindex="-1" uk-slider="animation: slide; center: false; sets: true;" data-uk-observe>
    <div class="uk-slider-items uk-grid uk-grid-small items uk-child-width-1-3@s uk-child-width-1-4@m"></div>
    <a class="uk-position-center-right slidenav previous" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-left slidenav next" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>