<div class="uk-position-relative uk-light" tabindex="-1" uk-slider="animation: slide;" data-uk-observe>
    <div class="uk-slider-items uk-grid items uk-child-width-1-1">

    </div>

    <div class="uk-text-left uk-margin-small slidenav-wrapper">
        <span class="slidenav-label uk-inline uk-padding-small uk-padding-remove-vertical">{{{slidenavLabel}}}</span>
        <a class="slidenav previous" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="slidenav next" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
</div>