<div class="article-card article-card-slider-mobile uk-width-1-1">
    <a href="{{href}}" class="uk-display-block uk-background-cover image" uk-height-viewport="min-height: 200; offset-bottom: 70" data-src="{{image.url}}" uk-img
        title="{{title}}"></a>
    {{!-- <div class="uk-container uk-container-expand"> --}}

        
    {{!-- </div> --}}

</div>